@charset "UTF-8";

:root {
    --fontetitulo: 'Cinzel', serif;
    --rosatitulo: #DB2777;
}
main {
    margin-top: 266px;
    overflow-x: hidden;
}
main > h2 {
    text-align: center;
}

small {
    color: var(--rosatitulo);
    margin-bottom: 20px;
}
#txt-prom {
    text-align: center;
    margin: 0px 0px 90px 0px;
}
#txt-pac {
    text-align: center;
    margin: 30px 50px;
}
#prom {
    text-align: center;
    font-family: var(--fontetitulo);
}
.card-body li {
    color: var(--rosatitulo) !important;
}
.promo-badge {
    background-color: #FF0000; 
    color: #FFFFFF; 
    padding: 4px 8px; /* Espaçamento interno da badge */
    border-radius: 4px; 
    position: absolute; /* Posição da badge dentro da card */
    top: 10px; 
    right: 10px; 
}
/* Estilo dos preços */
.price {
    font-size: 14px; /* Tamanho do texto do preço */
    font-weight: bold; /* Negrito no preço */
    margin-top: 10px; 
}
  
  /* Estilo do valor final com tamanho maior */
.final-price {
    font-size: 24px; /* Tamanho maior do valor final */
}
  
  /* Estilo do preço antigo com efeito riscado */
.old-price {
    text-decoration: line-through; /* Efeito de texto riscado */
    color: #888; /* Cor do preço antigo */
}
#bgrosa {
    background-color: var(--rosatitulo);
    margin: 50px 0px 0px 0px;
}
.full-width {
    margin-left: 0 !important; 
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }