@charset "UTF-8";

@media screen and (max-width: 576px) {
  body {
    background-color: blue !important;
  }
  #bannerhome {
    height: 1350px;
  }
}
@media screen and (min-width: 576px) {
  #bannerhome {
    height: 1300px;
  }
  body {
    background-color: rgb(255, 0, 0) !important;
  }
}
@media screen and (min-width: 767px) {
  #bannerhome {
    height: 1000px;
  }
  body {
    background-color: rgb(95, 0, 220) !important;
  }
}
@media screen and (min-width: 992px) {
  #bannerhome {
    height: 580px;
  }
  body {
    background-color: rgb(26, 220, 0) !important;
  }
}
